srcs/.env
srcs/volumes/static
srcs/volumes/postgres
srcs/volumes/redis
srcs/volumes/django/__pycache__/
srcs/volumes/django/transcendence/__pycache__/
srcs/volumes/django/transcendence/transcendence/__pycache__/
srcs/volumes/django/transcendence/pong/__pycache__/
srcs/volumes/django/transcendence/pong/migrations/
srcs/volumes/django/transcendence/pong/test_files/
