body, html{
	height: 100vh;
	width: 100vw;
}

header{
	height: 10%;
	width: 100%;
	border-radius: 10px;
	background-color: aquamarine;
}

footer{
	height: 10%;
	width: 100%;
	border-radius: 10px;
	background-color: yellow;
}

.rigths{
	float: right;
}

.app{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.content{
	text-align: center;
	height: 100%;
	width: 100%;
}

.game{
	background-color: black;
}

.chat{
	background-color: blue;
}