{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'pong/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/style.css' %}">
	{% comment %} <script src="{% static 'pong/js/bootstrap/bootstrap.js'%}"></script> {% endcomment %}
	<title>Transcendence</title>
</head>

<body>
	<!-- Header content -->
	<header>
	</header>

	<!-- LOGIN -->
	<!-- Main content -->
	<main>
		<!-- SPA container -->
		<div>
			<a href="/registration/">Registration</a>
			<a href="/login/">Log in</a>
			{% if user.is_authenticated %}
				<a href="/logout/">Logout</a>
			{% endif %}
		</div>
	</main>
	<!-- Footer content -->
	<footer>
	</footer>
	<script src="{% static 'pong/js/profile.js' %}"></script>
	<script src="{% static 'pong/js/registration.js' %}"></script>
	<script src="{% static 'pong/js/logged.js' %}"></script>
</body>
</html>
