/* Effetto glow per i bordi */
.account-header,
.account-events,
.account-highlights {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 2px rgba(206, 227, 228, 0.945);
    transition: box-shadow 0.3s ease;
}

.account-header:hover,
.account-events:hover,
.account-highlights:hover {
    box-shadow: 0 0 5px rgba(115, 157, 204, 0.7), 0 0 40px rgba(178, 227, 255, 0.7);
}

.account {
    display: grid;
    grid-template-areas: "header header"
                         "events highlights";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 1fr;
    width: 100%;
    height: 100%; 
}

@media only screen and (max-width: 900px) {
    .account {
        grid-template-areas: "header"
                             "events"
                             "highlights";
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr 1fr;
    }
}

.account-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(var(--base-secondary), var(--base));
    overflow: hidden;
    padding: 5rem 5%;
    border-bottom: 10px solid var(--base-secondary);
}

#account-header-left {
    display: flex;
    /* align-items: center; */
}

#account-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    height: 100%;
}

.account-header .account-image {
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.account-image-home {
  height: 12rem;
  width: 12rem;
  border-radius: 50%; /* Forma rotonda per l'immagine */
  object-fit: cover; /* Adatta l'immagine all'interno del contenitore senza deformarla */
}

.account h2, h3 {
    font-weight: 200;
    white-space: normal;
    text-transform: uppercase !important;
}

.account-info-text h2, h3 {
    display: flex;
    justify-content: left;
    align-items: space-between;
    padding: 1rem 0;
}

.account-info-text h2 {
    font-size: clamp(20px, 2.5vw, 30px);
    text-transform: uppercase !important;
}

.account-info-text h3 {
    font-size: 1.25rem;
}

@media only screen and (max-width: 900px) {
    .account-header .account-image {
        height: 8rem;
        width: 8rem;
    }

    #account-header-right {
        flex-direction: column;
        gap: 2rem 0;
    }
}

@media only screen and (max-width: 750px) {
    .account-header .account-image {
        margin-right: 2rem;
        height: 6rem;
        width: 6rem;
    }

    .account-info-text h2 {
        font-size: 1.75rem;
    }
    
    .account-info-text h3 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 500px) {
    .account-header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #account-header-right {
        margin-top: 2rem;
    }
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-content {
  width: 100%;
  text-align: center;
}

.account-events {
    grid-area: events;
    background-color: rgba(255, 255, 255, 0.05);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.account-highlights {
    grid-area: highlights;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.account-section-title {
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .account-section-title {
        font-size: 1.5rem;
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
    }
}

.account-tab-info {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 90%;
    margin: 3rem;
}


/* Stili per la pagina di modifica del profilo */

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000; /* Sfondo nero */
    color: #fff; /* Testo bianco */
  }
  
  .account-header {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 1rem; */
  }
  
  #account-header-left {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
  
  #account-header-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .account-info-text {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .account-info-text label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .account-info-text input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
  }

  .text-muted {
    margin-top: 10px;
    text-align: center;
  }
  
  .text-muted a {
    color: #777;
  }
  
  .text-muted a:hover {
    color: #333;
  }
  
  .form-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .input-form {
    width: 60%;
  }
  
  .upload-btn-container {
    position: relative;
    width: 120px;.row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    height: 120px;
    margin: 0 auto;
  }
  
  .edit-profile-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .edit-profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .profile-sidepanel {
    width: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .profile-sidepanel h3 {
    margin-bottom: 1rem;
  }
  
  .profile-sidepanel img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    align-items: center;
  }
  
  .account-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

    .account-column {
      display: flex;
      flex-direction: column; /* Elementi disposti in colonna */
      justify-content: flex-start;
      align-items: center;
      padding: 2rem 0;
      background-color: rgba(255, 255, 255, 0.05);
      border-left: 0.5px solid rgba(206, 227, 228, 0.945); 
      border-right: 0.5px solid rgba(206, 227, 228, 0.945); 
      transition: box-shadow 0.3s ease;
      box-shadow: none;
      margin: 2rem 0;
      overflow-y: hidden; /* Rimuove scrollbar verticale sulla colonna */
      overflow-x: hidden; /* Rimuove scrollbar orizzontale */
    }
    
    #friends-container,
    #online-users-container,
    #friend-request-container,
    #friend-request-form {
      position: static; /* Rimuove il comportamento assoluto */
      text-align: center; /* Centra il testo */
      width: 90%; /* Assicura che gli elementi siano confinati nella colonna */

    }
    
 
    /* Assicura che le colonne siano allineate correttamente */
    .account-columns {
      display: flex;
      width: 100%;
      height: 100vh; 
    }
    
    .account-column:first-child, .account-column:last-child {
      flex: 0 0 25%; 
    }
    
    .account-column:nth-child(2) {
      flex: 1;
    }
    
    @media only screen and (max-width: 900px) {
      .account-columns {
          flex-direction: column;
      }
    
      .account-column {
          width: 100%;
          border-left: none;
          border-right: none;
      }
    }

.tournament-info-container {
    border: 1px solid rgba(206, 227, 228, 0.945); /* Elimina l'effetto glow */
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Media query per gestire layout su schermi piccoli */
@media only screen and (max-width: 900px) {
    .account-columns {
        flex-direction: column;
    }

    .account-column {
        width: 100%;
    }
}
  

.account-columns {
  display: flex;
  width: 100%;
  height: 100vh; 
}

.account-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 0.5px solid rgba(206, 227, 228, 0.945); 
  border-right: 0.5px solid rgba(206, 227, 228, 0.945); 
  transition: box-shadow 0.3s ease;
  box-shadow: none;
  margin: 2rem 0;
}

.account-column > * {
  margin-bottom: 1rem; /* Spazio tra gli elementi */
}

.account-column:hover {
  box-shadow: 0 0 5px rgba(115, 157, 204, 0.7), 0 0 40px rgba(178, 227, 255, 0.7);
}

/* Definisci la larghezza delle colonne */
.account-column:first-child, .account-column:last-child {
  flex: 0 0 25%; 
}

.account-column:nth-child(2) {
  flex: 1; /* Colonna centrale più grande */
}

/* Rimuovere gli effetti glow dai contenitori interni */
.tournament-info-container {
  border: 1px solid rgba(206, 227, 228, 0.945);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  box-shadow: none; /* Rimuove l'effetto glow */
}

/* Media query per gestire layout su schermi piccoli */
@media only screen and (max-width: 900px) {
  .account-columns {
      flex-direction: column;
  }

  .account-column {
      width: 100%;
      border-left: none; /* Rimuovi bordi laterali sui dispositivi mobili */
      border-right: none; /* Rimuovi bordi laterali sui dispositivi mobili */
  }
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#password-form, #email-form, #username-form{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

#center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#image-container {
  text-align: center;
  margin-bottom: 20px;
}

#form-container {
  display: flex;
  justify-content: space-between; /* Spazio tra le colonne */
  align-items: stretch; /* Colonne con altezza uniforme */
  width: 100%;
  max-width: 800px; /* Regola questa dimensione per adattarla alle tue necessità */
  gap: 20px; /* Distanza tra le colonne */
}

.column-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spazio tra gli elementi */
  flex-grow: 1;
  width: calc(50% - 10px); /* Calcola la larghezza delle colonne, tenendo conto del gap */
  padding: 0 20px;
  box-sizing: border-box;
}

.row-div {
  width: 100%;
  margin-bottom: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  background-color: #000;
  box-shadow: 0 0 8px #ffffff;
  color: rgb(236, 255, 255);
  font-weight: bold; /* Per rendere il testo grassetto */
  text-shadow: 0 0 5px rgb(0, 247, 255), 0 0 5px #35ccfa; /* Ombra del testo */
  border: none; /* Rimuove il bordo predefinito */
  outline: none; /* Rimuove il contorno predefinito quando si clicca */
}

input::placeholder {
  color: #4e4e4e;
  text-shadow: none; /* Placeholder senza ombra */
}
.input-submit{
  width: 500px;
}


.edit-button {
  width: 100%;
  margin-top: 10px;
}

.account-image {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Fa diventare l'immagine circolare */
}

.pass
{
  height: 118px;
}

/* Contenitore principale per la cronologia delle partite */
.social-element-container.history {
  width: 35em !important;
  height: 250px; /* Altezza fissa */
  background-color: rgba(255, 255, 255, 0.1); /* Sfondo opaco */
  border-radius: 10px;
  border: 2px solid rgba(0, 238, 255, 0.7); /* Bordi luminosi */
  box-shadow: 0 0 10px #00ffdd8d; /* Effetto di luce ai bordi */
  overflow-y: auto; /* Scrollbar */
  padding: 10px;
  margin-top: 20px;
}

/* Stile per ciascuna partita nella cronologia */
.single-match-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: Monospace;
  text-transform: none;
  font-size: 1rem !important;
  margin-top: 0.5rem;
  text-shadow: 0 0 4px #00ffffd8, 0 0 8px #deffff;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.05); /* Sfondo leggermente opaco */
  padding: 5px;
  border-radius: 5px;
  color: white;
}

/* Stile per data, avversario e punteggio */
.match-date, .match-opponent, .match-score {
  flex: 1;
  text-align: center;
  color: white;
}

/* Scrollbar personalizzata */
#match-history-container::-webkit-scrollbar {
  width: 8px;
}

#match-history-container::-webkit-scrollbar-thumb {
  background: #00eeff;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ffdd8d;
}

#match-history-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.social-element-container.match {
  justify-content: flex-start;

}

.container-tourn-button{
  display: flex;
  align-items:  start;
}