@property --d {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: This makes the container full height */
  }

.neon-button-wrapper {
    position: relative;
    display: inline-block;
}

.neon-button {
    width: 200px;
    aspect-ratio: 1;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neon-button:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 8px;
    border-radius: 28px;
    background: conic-gradient(from var(--d, 0deg),
        #21D4FD,
        #0000 30deg 120deg,
        #B721FF 150deg 180deg,
        #0000 210deg 300deg,
        #21D4FD 330deg
    );
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: intersect;
    pointer-events: none;
    z-index: 1; /* Ensure the border effect is above the light effects */
}

.neon-button .glow {
    content: "";
    position: absolute;
    inset: -100px;
    border-radius: 28px;
    background: radial-gradient(80px at left 150px top 120px, #21D4FD 98%, #0000),
                radial-gradient(80px at right 150px bottom 120px, #B721FF 98%, #0000);
    filter: blur(60px);
    opacity: .5;
    pointer-events: none;
    z-index: 0; /* Ensure the light effects are below everything else */
}

.neon-button:hover:before {
    --d: 3600deg;
    transition: .5s, 60s linear --d;
}

.neon-button:hover .glow {
    transform: rotate(3600deg);
    transition: .5s, 60s linear transform;
}

.inner-button {
    position: absolute;
    inset: 10px;
    background-image: url('wall.jpg');
    background-size: auto 160%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Ensure the inner mask is above all effects */
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.inner-button.black {
background-color: #000000e8;
background-image: none;
}

.inner-button.white {
background-color: #ffffffe8;
background-image: none;
}


/* Stile di base per il pulsante */
.glow-button {
  border: 2px solid #fff !important;
  color: #fff !important;
  background-color: transparent !important;
  padding: 10px 20px !important;
  font-size: 1.5rem !important;
  font-family: "Tilt Neon", sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  transition: all 0.3s ease !important;
  position: relative !important;
  display: inline-block !important;
  margin: 20px !important;
  cursor: pointer !important;
  outline: none !important;
  text-decoration: none !important;
}

/* Effetto glow di base */
.glow-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: transparent !important;
  z-index: -1;
  transition: all 0.3s ease;
  opacity: 0;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff !important;
}

.glow-button.small{
  font-size: 1rem !important;
}

/* Effetti hover */
.glow-button:hover::before {
  opacity: 1 !important;
}

/* Varianti di colore */
.glow-button.red:hover {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
  font-size: 1.7rem !important;
}

.glow-button.red:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000 !important;
  font-size: 1.7rem !important;
}

.glow-button.green:hover {
  color: #00ff00 !important;
  border-color: #00ff00 !important;
  font-size: 1.7rem !important;
}

.glow-button.green:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00 !important;
  font-size: 1.7rem !important;
}

.glow-button.blue:hover {
  color: #0000ff !important;
  border-color: #0000ff !important;
  font-size: 1.7rem !important;
}

.glow-button.blue:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff !important;
  font-size: 1.7rem !important;
}

.glow-button.fuchsia:hover {
  color: #ff00ff !important;
  border-color: #ff00ff !important;
  font-size: 1.7rem !important;
}

.glow-button.fuchsia:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff !important;
  font-size: 1.7rem !important;
}

.glow-button.purple:hover {
  color: #800080 !important;
  border-color: #800080 !important;
  font-size: 1.7rem !important;
}

.glow-button.purple:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #800080, 0 0 10px #800080 !important;
  font-size: 1.7rem !important;
}

.glow-button.cyan:hover {
  color: #00ffff !important;
  border-color: #00ffff !important;
  font-size: 1.7rem !important;
}

.glow-button.cyan:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff !important;
  font-size: 1.7rem !important;
}

.glow-button.send:hover {
  color: #00ffff !important;
  border-color: #00ffff !important;
  padding: 10px 20px !important;
  font-size: 1.3rem !important;
}

.glow-button.send:hover::before {
  background: transparent !important;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff !important;
  font-size: 1rem !important;

}
