.home-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Contenitore per gli elementi sociali */
.social-element-container {
    width: 100%; /* Assicura che gli elementi occupino tutta la larghezza disponibile */
    display: flex;
    flex-direction: column; /* Disposizione verticale degli elementi */
    align-items: center;
    gap: 1rem; /* Spaziatura tra gli elementi */
    overflow-y: auto; /* Scroll verticale se necessario */
  }
  
  /* Contenitori per Friends e Online Users */
  #friends-container,
  #online-users-container,
  #friend-request-container {
    max-height: 200px; /* Limita l'altezza massima per la scrollbar */
    overflow-y: auto;
    width: 100%; /* Assicura che i contenitori si adattino alla larghezza */
    display: flex;
    flex-direction: column; /* Disposizione verticale degli elementi all'interno */
    align-items: center;
  }
  
  /* Disposizione degli utenti */
  .single-friend-container,
  .online-single-user-container {
    width: 100%; /* Assicura che occupino l'intera larghezza del contenitore */
    text-align: center;
    margin-bottom: 0.5rem; /* Spaziatura sotto ciascun elemento */
  }
  
  /* Disposizione dei bottoni per le richieste di amicizia */
  .single-friend-request-container,
  .single-friend-container,
  .form-group-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  #friend-request-form {
    max-width: 400px; /* Limita la larghezza massima del form */
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2); /* Migliore visibilità */
    border-radius: 10px;
    box-shadow: 0 0 10px #00eeff;
    display: flex;
    flex-direction: column; /* Disposizione verticale degli elementi nel form */
    align-items: center;
  }
  
  #friend-request-submit,
  #remove-friend-btn,
  #accept-request-btn,
  #reject-request-btn {
    margin-top: 1rem;
  }
  
  #friend-request-container h3,
  #friends-container h3,
  #online-users-container h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  /* Scrollbar glow */
  #friends-container::-webkit-scrollbar,
  #online-users-container::-webkit-scrollbar {
    width: 8px;
  }
  
  #friends-container::-webkit-scrollbar-thumb,
  #online-users-container::-webkit-scrollbar-thumb {
    background: #00eeff;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffdd8d;
  }
  
  #friends-container::-webkit-scrollbar-track,
  #online-users-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  