
{% load static %}

{% if not user.is_authenticated %}
<section class="flex-container">
    <h1><a class="neongreen" href="/#/login">SIGN IN!</a></h1>
    <h1 class="neonbar">OR</h1>
    <h1><a class="neonpink" href="/#/register">REGISTER!</a></h1>
    <div class="neon-button-wrapper">
    </div>
</section>
{% else %}
<!-- <section class="container-md" style="width: 20rem;">
    <div class="card">
        <img src="{{img}}" class="card-img-top" alt="avatar" id="characterImage">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Known as {{nickname}}.</p>
            <p class="card-text">Level {{level}}.</p>
            <p class="card-text">Email {{email}}.</p>
            <a href="/#/home" class="btn btn-dark">Go Back</a>
        </div>
    </div>
</section> -->
    <div class="account">
        <section class="account-header">
            <div id="account-header-left">
                <img class="account-image" src="{{img}}" alt="avatar" id="characterImage">
                <div class="account-info-text">
                    <h2 class="neonbar neonbar-blue">Known as {{nickname}}.</h2>
                    <h2 class="neonbar neonbar-small neonbar-blue">Level {{level}}.</h2>
                    <h2 class="neonbar neonbar-small neonbar-blue">Email {{email}}.</h2>
                    <!-- <a href="/#/home" class="btn btn-dark">Go Back</a> -->
                </div>
            </div>
            <div id="account-header-right">
                <div>
                    <button class="glow-button red">Edit account</button> 
                </div>
                <div>
                    <button class="glow-button cyan">Edit Teammates</button>
                </div>
            </div>
        </section>
        <section class="account-events account-section">
            <h2 class="neonbar neonbar-animated neonbar-large neonbar-red">Tournaments</h2>
            <div class="account-tab-info">
                <div class="special-list-container">
                    <ul class="special-list">
                        {% for item in tournaments %}
                        <div class="tournament-info-container">
                            <div class="container-tournament-button">
                                <button class="tournament-button" id="join-tournament-button" data-id="{{ item.id }}">{{ item.name }}</button>
                            </div>
                            <div class="tournament-eye">
                                <button class="null">
                                    <img src="/static/pong/images/eye.png" style="height:100%;width:15%;">
                                </button>
                            </div>
                            <div class="tournament-partecipants">
                                {{ item.number_of_partecipants }}
                            </div>
                        </div>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="account-highlights account-section">
            <h2 class="neonbar neonbar-animated neonbar-large neonbar-green">Favorite Teammates</h2>
            <div class="account-tab-info">
                <div class="special-list-container">
                    <ul class="special-list">
                        <!-- {% for teammate in teammates %} -->
                            <li>
                                <div class="special-container">
                                    <span></span>
                                    <span></span>
                                </div>
                            </li>
                        <!-- {% endfor %} -->
                    </ul>
                </div> 
            </div>
        </section>
    </div>
{% endif %}