<style> 
  .error{
    color: red;
    display: none;
    }
  .error.visible {
        display: block;
  }
</style>
<div class="pong-background">
  <div class="pong-field">
      <div class="pong-paddle pong-paddle-left"></div>
      <div class="pong-paddle pong-paddle-right"></div>
      <div class="pong-ball"></div>
      <div class="ball-trail"></div>
  </div>
</div>
<div id="center-div">
  <div id="image-container">
    <img src="{{ user.image }}" alt="Avatar" class="account-image">
    <form id="image-form">
      <button class="glow-button cyan" id="change-image-btn"> Edit Image </button>
    </form>
  </div>
  
  <div id="form-container">
    <div class="column-edit">
      <div class="row-div">
        <form id="username-form">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Enter a new username" required>
          <button type="submit" class="glow-button cyan edit-button" id="change-username-btn"> Change Username </button>
          <span id="username-error" class="error"></span>
        </form>
      </div>
      <div class="row-div">
        <form id="email-form">
          {% csrf_token %}
          <input type="text" name="email" placeholder="Enter a new email" required>
          <button class="glow-button cyan edit-button"> Change Email </button>
        </form>
      </div>
    </div>
    
    <div class="column-edit">
      <div class="row-div">
        <form id="password-form">
          {% csrf_token %}
          <input type="password" name="old-password" placeholder="Enter old password" required>
          <br>
          <span id="password-error" class="error"></span>
          <input type="password" name="new-password" placeholder="Enter a new password" required>
          <br>
          <input type="password" name="confirm-password" placeholder="Confirm password" required>
          <button class="glow-button cyan edit-button" id="change-password-btn"> Change Password </button>
        </form>
      </div>
    </div>
  </div>
</div>
