
{% load static %}

{% if not user.is_authenticated %}
<!-- <section class="flex-container">
    <h1><a class="neongreen" href="/#/login">SIGN IN!</a></h1>
    <h1 class="neonbar">OR</h1>
    <h1><a class="neonpink" href="/#/register">REGISTER!</a></h1>
    <h1 class="neonbar">OR</h1>
    <h1><a class="neonpink" href="/login42">Login 42</a></h1>
    <div class="neon-button-wrapper">
    </div>
  </section> -->
  <div id="center-home">
  <div class="login-light"></div>
    <div class="login-box">
        <form action="{% url 'pong:login' %}" method="post" id="login-form">
            <input type="checkbox" class="input-check" id="input-check">
            <label for="input-check" class="toggle">
                <span class="text off">off</span>
                <span class="text on">on</span>
            </label>
            <div class="light"></div>

            <h2 class="login-text">Login</h2>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                </span>
                <input type="username" required>
                <label>Username</label>
                <div class="input-line"></div>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" required>
                <label>Password</label>
                <div class="input-line"></div>
            </div>
            <button class="button-login" type="submit">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="/#/register">Register</a></p>
            </div>
            <div class="register-link">
            <button class="button-login"><a href="/login42">42 Login</a></button>
          </div>
        </form>
    </div>
  </div>
  <div>
    <svg id="spinner_login" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g transform="rotate(0 50 50)">
        <rect fill="#dbfffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-2.631578947368421s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(18.94736842105263 50 50)">
        <rect fill="#7bfffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-2.485380116959064s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(37.89473684210526 50 50)">
        <rect fill="#c2fffd" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-2.3391812865497075s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(56.8421052631579 50 50)">
        <rect fill="#10fff4" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-2.1929824561403506s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(75.78947368421052 50 50)">
        <rect fill="#d0fffd" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-2.046783625730994s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(94.73684210526316 50 50)">
        <rect fill="#85fffc" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.9005847953216373s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(113.6842105263158 50 50)">
        <rect fill="#d0fffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.7543859649122806s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(132.6315789473684 50 50)">
        <rect fill="#dbfffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.6081871345029237s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(151.57894736842104 50 50)">
        <rect fill="#7bfffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.461988304093567s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(170.52631578947367 50 50)">
        <rect fill="#c2fffd" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.3157894736842104s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(189.47368421052633 50 50)">
        <rect fill="#10fff4" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.1695906432748537s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(208.42105263157896 50 50)">
        <rect fill="#d0fffd" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-1.023391812865497s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(227.3684210526316 50 50)">
        <rect fill="#85fffc" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-0.8771929824561403s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(246.31578947368422 50 50)">
        <rect fill="#d0fffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-0.7309941520467835s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(265.2631578947368 50 50)">
        <rect fill="#dbfffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-0.5847953216374269s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(284.2105263157895 50 50)">
        <rect fill="#7bfffe" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-0.43859649122807015s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(303.1578947368421 50 50)">
        <rect fill="#c2fffd" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-0.29239766081871343s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(322.10526315789474 50 50)">
        <rect fill="#10fff4" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="-0.14619883040935672s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g transform="rotate(341.05263157894734 50 50)">
        <rect fill="#d0fffd" height="1" width="1" ry="0.5" rx="0.5" y="4.5" x="49.5">
          <animate repeatCount="indefinite" begin="0s" dur="2.7777777777777772s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
        </rect>
      </g><g></g></g><!-- [ldio] generated by https://loading.io --></svg>
  </div>
    
</div>
  {% else %}
<div class="pong-background">
    <div class="pong-field">
        <div class="pong-paddle pong-paddle-left"></div>
        <div class="pong-paddle pong-paddle-right"></div>
        <div class="pong-ball"></div>
        <div class="ball-trail"></div>
    </div>
</div>
<div class="account-columns">
    <section class="account-column account-highlights">
        <div>
            <h2 class="logo-text-home">You...</h2>
        </div>
        <div id="account-header-left">
            <img class="account-image-home" src="{{img}}" alt="avatar" id="characterImage">
            <div class="account-info-text">
                <h3 class="neonbar neonbar-smallest neonbar-blue">Known as {{nickname}}</h2>
                <h3 class="neonbar neonbar-smallest neonbar-blue">Level {{level}}</h2>
            </div>
        </div>
        <div id="account-header-right">
            <div>
                <a class="glow-button purple" href="/#/account">Account</a>
            </div>
        </div>
    </section>
  </section>

  <section class="account-column account-events">
      <div>
        <h2 class="logo-text-home">42pong</h2>
      </div>
      <div id="center-home">
        <div>
            <a class="glow-button fuchsia" href="/#/tournament_join">Tournament</a>
          </div>
          <div>
            <a class="glow-button green" href="/#/play">Play Now</a>
          </div>
          <div>
            <button  class="glow-button red" id="logout-button">Logout</button>
          </div>
      </div>
      <div>
        <svg id="spinner_home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g transform="rotate(0 50 50)">
            <rect fill="#86f6ff" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-3.472222222222222s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(22.5 50 50)">
            <rect fill="#70dcf6" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-3.2407407407407405s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(45 50 50)">
            <rect fill="#66c9f0" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-3.009259259259259s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(67.5 50 50)">
            <rect fill="#3dc3f1" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-2.7777777777777777s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(90 50 50)">
            <rect fill="#1ab7fe" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-2.5462962962962963s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(112.5 50 50)">
            <rect fill="#86f6ff" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-2.314814814814815s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(135 50 50)">
            <rect fill="#70dcf6" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-2.083333333333333s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(157.5 50 50)">
            <rect fill="#66c9f0" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-1.8518518518518516s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(180 50 50)">
            <rect fill="#3dc3f1" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-1.6203703703703702s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(202.5 50 50)">
            <rect fill="#1ab7fe" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-1.3888888888888888s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(225 50 50)">
            <rect fill="#86f6ff" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-1.1574074074074074s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(247.5 50 50)">
            <rect fill="#70dcf6" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-0.9259259259259258s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(270 50 50)">
            <rect fill="#66c9f0" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-0.6944444444444444s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(292.5 50 50)">
            <rect fill="#3dc3f1" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-0.4629629629629629s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(315 50 50)">
            <rect fill="#1ab7fe" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="-0.23148148148148145s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g transform="rotate(337.5 50 50)">
            <rect fill="#86f6ff" height="5" width="2" ry="2" rx="1" y="10.5" x="49">
              <animate repeatCount="indefinite" begin="0s" dur="3.7037037037037033s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
            </rect>
          </g><g></g></g><!-- [ldio] generated by https://loading.io --></svg>
      </div>
  </section>

  <section class="account-column account-section">
    <div class="center-content"> <!-- Nuovo wrapper -->
        <h2 class="logo-text-home">social</h2>
    </div>
    <div class="center-content grow">
        <div id="account-header-right">
            <div class="social-element-container">
            <h2 class="friends friends-glow">Friends</h3>
            <div id="online-users-container" class="social-element-container friends">
                
                {% for item in friends %}
                    <div class="single-friend-container single-user">
                        {{ item.username }} <button  id="remove-friend-btn" data-username="{{ item.username }}">
                            X
                        </button>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
        <h2 class="friends friends-glow">Online Users</h3>
            <div id="online-users-container" class="social-element-container friends">
                
                {% for item in online_users %}
                    <div class="online-single-user-container single-user">
                        {{ item.username }}
                    </div>
                {% endfor %}
            </div>
            <h2 class="friends friends-glow">Friends Request</h3> 
            <div id="online-users-container" class="social-element-container friends">
                
                {% for item in friend_requests %}
                    <div class="single-friend-request-container single-user">
                        {{ item.username }}
                    </div>
                    <div>
                        <button  id="accept-request-btn" data-username="{{ item.username }}">
                            v
                        </button>
                        <button  id="reject-request-btn" data-username="{{ item.username }}">
                            ⅹ
                        </button>
                    </div>
                {% endfor %}
            </div>
            <div class="social-element-container">
                <label for="username" class="friends">Invite A fRIEND</label>
                <form id="friend-request-form" class="form-group">
                    
                    <div class="form-group-inner">
                        <input type="text" id="username-friend-request" name="username" placeholder="Type Username" class="username-friend-request" required>
                        <button  class="glow-button small send" id="friend-request-submit">INVITE</button>
                    </div>
                    <span id="request-username-error" class="error"></span>
                </form>            
            </div>
        </div>
    </div>
</section>

{% endif %}