{% load static %}

{% if not user.is_authenticated %}
  <section class="flex-container">
    <h1><a class="neongreen" href="/#/login">SIGN IN!</a></h1>
    <h1 class="neonbar">OR</h1>
    <h1><a class="neonpink" href="/#/register">REGISTER!</a></h1>
    <h1 class="neonbar">OR</h1>
    <h1><a class="neonpink" href="/login42">Login 42</a></h1>
    <div class="neon-button-wrapper">
    </div>
  </section>
{% endif %}

{% if user.is_authenticated %}
<div class="account">
  <section class="account-highlights account-section">
      <div id="account-header-right">
          <div>
              <a class="glow-button cyan" href="">Create Tournament</a>
          </div>
          <div>
              <button class="glow-button cyan">Invite a Friend</button>
          </div>
      </div>
  </section>
  <section class="account-events account-section">
      <h2 class="neonbar neonbar-animated neonbar-large neonbar-white">Tournaments</h2>
      <div class="account-tab-info">
          <div class="special-list-container">
              <ul class="special-list">
                  {% for item in tournaments %}
                  <div class="tournament-info-container glow-border cyan">
                      <div class="container-tournament-button">
                          <button class="tournament-button" id="join-tournament-button" data-id="{{ item.id }}">{{ item.name }}</button>
                      </div>
                      <div class="tournament-eye">
                          <button class="null">
                              <img src="/static/pong/images/eye.png" style="height:100%;width:15%;">
                          </button>
                      </div>
                      <div class="tournament-partecipants">
                          {{ item.number_of_partecipants }}
                      </div>
                  </div>
              {% endfor %}
              </ul>
          </div>
      </div>
  </section>
  <section class="account-highlights account-section">
      <h2 class="neonbar neonbar-animated neonbar-large neonbar-white">Favorite Teammates</h2>
      <div class="account-tab-info">
          <div class="special-list-container">
              <ul class="special-list">
                  <!-- {% for teammate in teammates %} -->
                      <li>
                          <div class="special-container">
                              <span></span>
                              <span></span>
                          </div>
                      </li>
                  <!-- {% endfor %} -->
              </ul>
          </div>
      </div>
  </section>
  <div>
    <button class="glow-button cyan" id="logout-button">Logout</button>
  </div>
</div>
<div>
    <button id="notification-button">
        Send Notification
    </button>
</div>

{% endif %}

