{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LoSfaccimmoFrontendPong</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> 
    <!-- Favicon in .png-->
    <link rel="icon" href="/path/to/favicon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'pong/css/vic.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/button.css'%}" />
    <link rel="stylesheet" href="{% static 'pong/css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'pong/css/sliderstyle.css'%}" />
    <link rel="stylesheet" href="{% static 'pong/css/minipong.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/damiano.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/account.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/minipong-home.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/gameInterface.css' %}" />
    <link rel="stylesheet" href="{% static 'pong/css/home.css' %}" />
    <script type="importmap">
    {
        "imports": {
            "three": "{% static 'pong/js/three/build/three.module.js'%}",
            "three/addons/": "{% static 'pong/js/three/examples/jsm/'%}"
        }
    }
    </script>
    <script type="module" src="{% static 'pong/js/index.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon:XROT,YROT@-2,-9&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <!-- Header root (always visible) -->
    <header id="header_root"></header>
    <!-- Page root (content rendered based on URL) -->
    <main id="page_root"></main>
    <!-- Footer root (always visible) -->
    <footer id="footer_root"></footer>
  </body>
</html>
