{% load static %}




<!-- Match interface -->

<div id="interface" class="colorNeonText">

    <!-- Searching message -->
    <div id="searching-message">
        <p>Looking for a player...</p>
    </div>

    <!-- Score, time, nickname info -->
    <div id="interface-timer">
        <p >15:15</p>
    </div>
    <div id="interface-top" class="colorNeonText">
        <div id="interface-player1" class="colorNeonTextP1">
            <p >Player1</p>
        </div>
        <div id="interface-info">
            <div id="interface-score">
                <p>10 - 2</p>
            </div>
            <div id="interface-exchanges">
                <p>12</p>
            </div>
        </div>
        <div id="interface-player2" class="colorNeonTextP2">
            <p>Player2</p>
        </div>
    </div>
</div>
