
<div id="interface">
    <!-- Score, time, nickname info -->
    <div id="interface-timer">15:15</div>
    <div id="interface-top">
        <div id="interface-player1">Player1</div>
        <div id="interface-info">
            <div id="interface-score">10 - 2</div>
            <div id="interface-exchanges">12</div>
        </div>
        <div id="interface-player2">Player2</div>
    </div>
    <div id="interface-keys">
        <img src="camera.png">1️⃣   1 [ <img src="camera.png"> 2️⃣]  2 [ <img src="camera.png"> 3️⃣] </p>
    </div>
</div>