{% load static %}

<div id="interface" class="colorNeonText">

    <!-- Searching message -->
    <div id="searching-message" class="colorNeonText">
        <p>Looking for a player...</p>
    </div>
</div>


<!-- <div id="interface">
     Score, time, nickname info
    <div id="interface-timer">15:15</div>
    <div id="interface-top">
        <div id="interface-player1">Player1</div>
        <div id="interface-info">
            <div id="interface-score">10 - 2</div>
            <div id="interface-exchanges">12</div>
        </div>
        <div id="interface-player2">Player2</div>
    </div>
    UNDERGROUND INTERFACE
 <div id="interface-keys">
    <p> [space <img src="{% static 'pong/images/camera.png' %}">1️⃣] [<img src="{% static 'pong/images/tasto1.png' %}"> <img src="{% static 'pong/images/camera.png' %}"> 2️⃣] [ <img src="{% static 'pong/images/tasto2.png' %}">  <img src="{% static 'pong/images/camera.png' %}"> 3️⃣] </p>
</div>
</div> -->
