{% load static %}

<!-- <section class="account-highlights account-section">
    <div class="Title">
        <h1 class="neonbar neonbar-animated neonbar-large neonbar-purple" id="title_play">Choose a game</h1>
    </div>
</section> -->

<section>
    <form id="setting-Mach" class="Neon-Text-Settings">
        <div style="position: absolute; top: 40px; text-align: center;">
            <!-- Selezione del tipo di partita -->
            <div id="group-match" style="text-align: center;" class="selection-group" >
                <p class="neonbar" style="font-family:'Tilt Neon'; text-align: center; font-size: 3vw;">CHOOSE MODE</p>
                
                <label class="custom-radio">
                    <input type="radio" name="match-type" value="1v1" id="btn-local-game">
                    <span class="glow-button blue" id="1vs1">1 vs 1</span>
                </label>
                
                <label class="custom-radio">
                    <input type="radio" name="match-type" value="AI" id="btn-local-game-bot">
                    <span class="glow-button red" id="AI">AI</span>
                </label>
                
                <label class="custom-radio">
                    <input type="radio" name="match-type" value="online" id="btn-remote-game">
                    <span class="glow-button green" id="OnlineMatch">Online Match</span>
                </label>
            </div>
            <br>
    
            <!-- Selezione dello stato dei PowerUp -->
            <div style="text-align: center;" class="selection-group" id="group-powerup">
                <p class="neonbar" style=" font-family:'Tilt Neon'; text-align: center; font-size: 3vw;">POWERUP?</p>
                
                <label class="custom-radio">
                    <input type="radio" name="power-type" value="ON" id="btn-power-up-active">
                    <span class="glow-button green" id="ON">ON</span>
                </label>
                
                <label class="custom-radio">
                    <input type="radio" name="power-type" value="OFF" id="btn-power-up-off">
                    <span class="glow-button red" id="OFF">OFF</span>
                </label>
            </div>
            <br>
    
            <!-- Selezione del mondo -->
            <div style="text-align: center;" class="selection-group" id="group-world">
                <p class="neonbar" style="font-family:'Tilt Neon', sans-serif; text-align: center; font-size: 3vw;">SELECT WORLD</p>
                
                <label class="custom-radio">
                    <input type="radio" name="World-Type" value="finals" id="W1">
                    <span class="B1 glow-button green" id="TheFinals">
                        <img src="{% static 'pong/images/gifTheFinals.gif' %}" alt="gifTheFinals" class="Set-GifFinals">
                    </span>
                </label>
                
                <label class="custom-radio">
                    <input type="radio" name="World-Type" value="underground" id="W2">
                    <span class="B2 glow-button green" id="Underground">
                        <img src="{% static 'pong/images/gifUnderGround.gif' %}" alt="gifUnderGround" class="Set-GifGround">
                    </span>
                </label>
            </div>
            <br>
    
            <!-- Pulsante di avvio -->
            <div class="selection-group" style="text-align: center; margin-top: 50px;" id="start-match">
                <button type="submit" class="start-match-button" id="Start">
                    <span>Start Match</span>
                </button>
            </div>

             
            <!-- <div class="selection-group" style="text-align: center;">
                <button type="submit" class="glow-button green" id="Start">
                    <p class="neonbar" style="font-size: 4vw; color: blue;">Start Match</p>    
                </button>
            </div> -->
        </div>
    </form>
</section>

<!-- interazioni -->
<script>
    window.onload = function() {
        // Preseleziona il primo gruppo (Match) come attivo
        document.getElementById("group-match").classList.add('active');
        document.getElementById("btn-local-game").checked = true;
        document.getElementById("btn-power-up-active").checked = true;
        document.getElementById("W1").checked = true;
    };

    document.querySelectorAll('.selection-group').forEach(group => {
        group.addEventListener('mouseenter', function() {
            // Rimuovi la classe 'active' da tutti i gruppi
            document.querySelectorAll('.selection-group').forEach(g => {
                g.classList.remove('active');
            });
            // 'active' solo al gruppo mouse
            group.classList.add('active');
        });

        group.addEventListener('click', function() {
            // Mantieni attivo il gruppo cliccato
            document.querySelectorAll('.selection-group').forEach(g => {
                g.classList.remove('active');
            });
            group.classList.add('active');
        });
    });
</script>



<!-- <div class="menu-container">
    <h1 class="neonbar neonbar-animated neonbar-large neonbar-purple">Choose a game</h1>
    <div >
        <button id="btn-local-game" class="glow-button blue">1 vs 1</button>
    </div>
    <div >
        <button id="btn-local-game-bot" class="glow-button red">AI</button>
    </div>
    <div >
        <button id="btn-remote-game" class="glow-button green">Online Match</button>
    </div>
</div> -->