{% extends "pong/spa/tournament.html" %}

{% block list %}

	<div class="container" style="width:100%; height:100%">
		<h2 class="friends friends-glow">Your Tournaments</h2>
		<button style="position:absolute; right:0; top:0" class="button" id="tournament-update">⟳</button>
		{% for item in tournaments_joined %}
			<div class="tournament-info-container">
				<div class="container-tournament-button">
					<button class="tournament-button" id="join-tournament-button" data-id="{{ item.tournament }}">{{ item.tournament }}</button>
				</div>
				<div class="tournament-eye">
					<button class="fa fa-eye" style="font-size:24px; color: aqua;" id="tournament-visualization" data-id="{{ item.tournament }}">
					</button>
				</div>
				<div class="tournament-partecipants">
					{{ item.partecipants }} / 4
				</div>
			</div>
		{% endfor %}
		<br>
		<h2 class="friends friends-glow">Available Tournaments</h2>
		{% for item in tournaments_available %}
		<div class="tournament-info-container">
			<div class="container-tournament-button">
				<button class="tournament-button" id="join-tournament-button" data-id="{{ item.tournament }}">{{ item.tournament }}</button>
			</div>
			<div class="tournament-eye">
				<button class="fa fa-eye" style="font-size:24px; color: aqua;" id="tournament-visualization" data-id="{{ item.tournament }}">
				</button>
				<button class="join-tournament-btn" id="tournament-join" data-id="{{ item.tournament}}">
					JOIN
				</button>
			</div>
			<div class="tournament-partecipants">
				{{ item.partecipants }} / 4
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}
