{% extends "pong/spa/tournament.html" %}

{% block list %}

	<div class="container" style="width:100%; height:100%">
		<button style="position:absolute; right:0; top:0" class="button" id="tournament-update">⟳</button>
		{% for item in tournaments_joined %}
			<div class="tournament-info-container">
				<div class="container-tournament-button">
					<button class="tournament-button" id="join-tournament-button" data-id="{{ item.tournament }}">{{ item.tournament }}</button>
				</div>
				<div class="tournament-eye">
					<button class="null" id="tournament-visualization" data-id="{{ item.tournament }}">
						<img src="/static/pong/images/eye.png" style="height:100%;width:15%;">
					</button>
				</div>
				{% comment %} <div class="tournament-leave">
					<button class="null" id="tournament-leave" data-id="{{ item.tournament}}">
						LEAVE
					</button>
				</div> {% endcomment %}
				<div class="tournament-partecipants">
					{{ item.partecipants }} / 4
				</div>
			</div>
		{% endfor %}
		<br>
		{% for item in tournaments_available %}
		<div class="tournament-info-container">
			<div class="container-tournament-button">
				<button class="tournament-button" id="join-tournament-button" data-id="{{ item.tournament }}">{{ item.tournament }}</button>
			</div>
			<div class="tournament-eye">
				<button class="null" id="tournament-visualization" data-id="{{ item.tournament }}">
					<img src="/static/pong/images/eye.png" style="height:100%;width:15%;">
				</button>
			</div>
			<div class="tournament-join">
				<button class="null" id="tournament-join" data-id="{{ item.tournament}}">
					JOIN
				</button>
			</div>
			<div class="tournament-partecipants">
				{{ item.partecipants }} / 4
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}
