<style>
		#alias-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			display: flex;
			justify-content: center;
			align-items: center;
		  }
		  #overlay-content {
			background: red;
			padding: 20px;
			border-radius: 8px;
		  }
		  #close-overlay {
			margin-top: 10px;
		  }
		  .error{
			color: red;
			display: none;
		  }
		  .error.visible {
            display: block;
        }
</style>

<div id="alias-overlay">
	<form id="alias-form">
		<div>
			<label for="inputText">Enter an alias name for the tournament:</label>
		</div>
		<span id="alias-error" class="error"></span>
		<input type="text" id="alias" name="alias" placeholder="Insert an alias Name" required maxlength="255" minlength="1" />
		<input type="submit" id="submit" value="Submit">
	</form>
</div>
