
<div id="center-home">
	<div class="registration-box">
		
		<form id="registration-form">
			{% csrf_token %}

			<h2 class="login-text">Register</h2>
			<span id="registration-error" class="error"></span>
			<div class="input-box">
				<span class="icon">
					<ion-icon name="mail"></ion-icon>
				</span>
				<input name="username" type="text" required>
				<label>Username</label>
				<div class="input-line"></div>
			</div>
			<div class="input-box">
				<span class="icon">
					<ion-icon name="lock-closed"></ion-icon>
				</span>
				<input name="email" type="email" required>
				<label>Email</label>
				<div class="input-line"></div>
			</div>
			<div class="input-box">
				<span class="icon">
					<ion-icon name="mail"></ion-icon>
				</span>
				<input name="password1" type="password" required>
				<label>Enter Password</label>
				<div class="input-line"></div>
			</div>
			<div class="input-box">
				<span class="icon">
					<ion-icon name="mail"></ion-icon>
				</span>
				<input name="password2" type="password" required>
				<label>Confirm Password</label>
				<div class="input-line"></div>
			</div>
			<span class="error" id="registration-error"></span>
			<button class="button-login" type="submit">Register</button>
		</form>
	</div>
</div>
